@font-face {
    font-family: "Mrs Eaves B";
    src: url("./mrs-eaves/bowdoin-font.ttf");
       
  }

  @font-face {
    font-family: "Mrs Eaves";
    src: url("./mrs-eaves/MRSEA~9.TTF");
       
  }

  h4 {
    font-family: "Mrs Eaves";
    color: black;
  }

  h1 {
    font-family: "Mrs Eaves";
  }

  .nav-bar {
    
    background-color: #000000; /* Any color you prefer for the nav bar */
    height: 90px; /* Any height you want */
    /* Add a white line at the bottom */
    border-bottom: 3px solid white;
    width: 100%;
    font-family: Mrs Eaves;
    position: sticky; 
    top: 0;

  }

  .nav-bar a {
    color: white;
  }

  .nav-bar a:hover {
      color: #bcca49;
  }

  #header-content {
    position: absolute;
    bottom: 0;
    left: 0;
}

  .box img {
          width: 300px;
          height: 400px;
      }

  .box1 img {
          object-fit: cover;
      }

  html { 
      height: 100%;
      margin:0px;
      background: url(https://dz0zjhi21dz2t.cloudfront.net/media/94403/photos/1052801/2048.jpg) no-repeat center center;
      background-size: cover;
      background-attachment: fixed;

  }  
  